<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="Registration form">
		<meta name="author" content="Joe Standring">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
      <a class="title" href="/"><b>THEATRE BOOKING</b></a>
			{{#if authorised}}
				<a class="page" href="/logout">Log out</a>
        <a class="page" href="/secure/cart">Cart</a>
			{{else}}
				<a class="page active" href="/login">Log in</a>
			{{/if}}
      <a class="page" href="/plays">Plays</a>
      <a class="page" href="/">Home</a>
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<main>
      <form action="/register" enctype="multipart/form-data" method="post">
        <p>
          <label for="user">Username</label><br />
          <input type="text" name="user" placeholder="your preferred username (no spaces)" value="{{body.user}}">
        </p>
        <p>
          <label for="pass">Password</label><br />
          <input type="password" name="pass" placeholder="your chosen password" value="{{body.pass}}">
        </p>
        <p>
          <label for="email">Email</label><br />
          <input type="email" name="email" placeholder="a valid email address" value="{{body.email}}">
        </p>
        <p><input type="submit" value="Create"></p>
      </form>
		</main>
    
    <div class="footer">
      <p>&copy; Joe Standring 2020</p>
    </div>
	</body>
</html>
